


<div class="fundo">


    <div class="container">
        <div class="row d-flex-justify-content-center">
            <div class="col-md-6">
                <div class="container texto">
                    <h1>Sobre nós</h1>
                    
                    <p>
                        A Aprochegue é uma rede social que foi desenvolvida baseada na ODS 10 da ONU: redução das
                        desigualdades - reduzir as desigualdades dentro dos países e entre eles. Cujo nome representa a
                        cultura nordestina, visto que foi criada em Recife-PE, em dezembro de 2021, onde está
                        estabelecido o maior polo de tecnologia do Brasil. Trazendo em consideração essa bagagem e os
                        fundamentos necessários para a construção deste projeto, o objetivo é aproximar as regiões
                        afastadas dos grandes centros, ou seja, as áreas rurais, e conectá-las à tecnologia. Assim,
                        possibilitando oportunidades de emprego, diminuindo gradativamente as desigualdades existentes
                        dentro do país e, consequentemente, entre eles.
                    </p>
                </div>
            </div>
            <div class="col-md-6 p-5">
                <img src="../../assets/imgs/AprochegueLaranja.png" alt="pantera " width=500px height=300px
                    class="rounded-circle" id="teste3">
            </div>


        </div>

    </div>







    <div class="container mt-10">


        <div class="mt-30">
            <h2 class="mt-30">Sobre a equipe: </h2>

            <div class="">
                <h2 class="fs-18 mt-30">Equipe de desenvolvimento: </h2>
            </div>


            <head>
                <link href="https://fonts.googleapis.com/css?family=Fira+Sans+Condensed:300,400,600i&display=swap"
                    rel="stylesheet">
            </head>

            <div class="container d-flex justify-content-center">
                <div class="row col-md-12">
                    <div class="infocardContainer md-4">
                        <div id="main">
                            <img src="https://github.com/ad4nv1.png">
                        </div>
                        <div id="textbois">
                            <p>Adan Vinícius da Silva Leitão</p>
                            <p>Desenvolvedor Web Java Jr <br>
                                Programador com experiência em C#, .NET, Java, <br>
                                Spring boot, Angular e banco de <br>
                                dados relacional
                                e não relacional &hellip;
                            </p>
                            <div id="hotlinks">
                                <a href="http://www.linkedin.com/in/adan-vinicius" target="_blank"> <img id="linkedin"
                                        src="../../assets/imgs/linkedin.png"> </a>

                                <a href="https://codepen.io/LIMESTA">
                                    <img id="instagram" src="../../assets/imgs/instagram (1).png" target="_blank">
                                </a>
                                <a href="https://codepen.io/LIMESTA">
                                    <img id="facebook" src="../../assets/imgs/facebook.png" target="_blank">
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="infocardContainer md-4">
                        <div id="main">
                            <img src="https://github.com/GuilhermeCarluz.png">
                        </div>
                        <div id="textbois">
                            <p> Guilherme Carlos da Luz </p>
                            <p>Desenvolvedor Web Java Jr <br>
                                Entusiasta pela tecnologia <br>
                                e agora desenvolvedor. <br>
                                Experiência em Java, SpringBoot,<br>
                                MySQL, Angular e BootStrap. &hellip;</p>

                            <div id="hotlinks">
                                <a href="https://www.linkedin.com/in/guilherme-carlos-033819220/" target="_blank"><img
                                        id="codepenio" src="../../assets/imgs/linkedin.png">
                                </a>
                                <a href="https://codepen.io/LIMESTA">
                                    <img id="codepenio"
                                        src="https://blog.codepen.io/wp-content/uploads/2012/06/Button-Fill-Black-Small.png"
                                        target="_blank">
                                </a>
                                <a href="https://codepen.io/LIMESTA">
                                    <img id="codepenio"
                                        src="https://blog.codepen.io/wp-content/uploads/2012/06/Button-Fill-Black-Small.png"
                                        target="_blank">
                                </a>
                            </div>
                        </div>
                    </div>



                </div>
            </div>

            <div class="container d-flex justify-content-center">
                <div class="row col-md-12">
                    <div class="infocardContainer md-2">
                        <div id="main">
                            <img src="https://github.com/juliamontenegro.png">
                        </div>
                        <div id="textbois">
                            <p>Júlia Regina Montenegro Vanderlei</p>
                            <p>Desenvolvedor Web Java Jr</p>
                            <p> Gosto de desafios e tenho a mente aberta, <br>
                                sou desenvolvedora com habilidades em Java, <br>
                                Spring, MYSQL, Angular e Bootstrap. &hellip;</p>
                            <div id="hotlinks">
                                <a href="https://www.linkedin.com/in/j%C3%BAlia-montenegro-25590a225/"
                                    target="_blank"><img id="codepenio" src="../../assets/imgs/linkedin.png">
                                </a>
                                <a href="https://codepen.io/LIMESTA">
                                    <img id="codepenio"
                                        src="https://blog.codepen.io/wp-content/uploads/2012/06/Button-Fill-Black-Small.png"
                                        target="_blank">
                                </a>
                                <a href="https://codepen.io/LIMESTA">
                                    <img id="codepenio"
                                        src="https://blog.codepen.io/wp-content/uploads/2012/06/Button-Fill-Black-Small.png"
                                        target="_blank">
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="infocardContainer md-2">
                        <div id="main">
                            <img src="https://github.com/LucasAci.png">
                        </div>
                        <div id="textbois">
                            <p>Lucas Aci Farias Ribeiro Queiroz</p>
                            <p>Desenvolvedor Web Java Jr <br>
                                Pós Graduando em Tecnologia Inovação e<br>
                                Inteligência, conhecimento em Java, <br>
                                Python, Machine Learning, <br>
                                Banco de dados MySQL, Angular e Bootstrap. &hellip;
                            </p>
                            <div id="hotlinks">
                                <a href="https://www.linkedin.com/in/lucas-aci/" target="_blank"><img id="codepenio"
                                        src="../../assets/imgs/linkedin.png">
                                </a>
                                <a href="https://codepen.io/LIMESTA">
                                    <img id="codepenio"
                                        src="https://blog.codepen.io/wp-content/uploads/2012/06/Button-Fill-Black-Small.png"
                                        target="_blank">
                                </a>
                                <a href="https://codepen.io/LIMESTA">
                                    <img id="codepenio"
                                        src="https://blog.codepen.io/wp-content/uploads/2012/06/Button-Fill-Black-Small.png"
                                        target="_blank">
                                </a>
                            </div>
                        </div>
                    </div>


                    <div class="container d-flex justify-content-center">
                        <div class="row col-md-12">
                            <div class="infocardContainer md-2">
                                <div id="main">
                                    <img src="https://github.com/Padilha272.png">
                                </div>
                                <div id="textbois">
                                    <p>Matheus de Araujo Padilha </p>
                                    <p>Desenvolvedor Web Java Jr</p>
                                    <p> Experiência em Java, Spring boot, <br>
                                        Mysql, Html, Css, Javascrypt, Angular <br>
                                        e Bootstrap &hellip;</p>
                                    <div id="hotlinks">
                                        <a href="https://www.linkedin.com/in/matheus-padilha-722134183/"
                                            target="_blank"><img id="codepenio" src="../../assets/imgs/linkedin.png">
                                        </a>
                                        <a href="https://codepen.io/LIMESTA">
                                            <img id="codepenio"
                                                src="https://blog.codepen.io/wp-content/uploads/2012/06/Button-Fill-Black-Small.png"
                                                target="_blank">
                                        </a>
                                        <a href="https://codepen.io/LIMESTA">
                                            <img id="codepenio"
                                                src="https://blog.codepen.io/wp-content/uploads/2012/06/Button-Fill-Black-Small.png"
                                                target="_blank">
                                        </a>
                                    </div>
                                </div>
                            </div>

                            <div class="infocardContainer md-2">
                                <div id="main">
                                    <img src="https://github.com/mayaralm.png">
                                </div>
                                <div id="textbois">
                                    <p>Maria Mayara Leite de Melo</p>
                                    <p>Desenvolvedor Web Java Jr <br>
                                        Programadora com experiência em <br>
                                        Java e python e com muita vontade <br>
                                        de aprender &hellip;
                                    </p>
                                    <div id="hotlinks">
                                        <a href="https://www.linkedin.com/in/lucas-aci/" target="_blank"><img
                                                id="codepenio" src="../../assets/imgs/linkedin.png">
                                        </a>
                                        <a href="https://codepen.io/LIMESTA">
                                            <img id="codepenio"
                                                src="https://blog.codepen.io/wp-content/uploads/2012/06/Button-Fill-Black-Small.png"
                                                target="_blank">
                                        </a>
                                        <a href="https://codepen.io/LIMESTA">
                                            <img id="codepenio"
                                                src="https://blog.codepen.io/wp-content/uploads/2012/06/Button-Fill-Black-Small.png"
                                                target="_blank">
                                        </a>
                                    </div>
                                </div>
                            </div>


                        </div>
  
                  </div>

                </div>
            </div>
        </div>
    </div>
</div>
