

<div class='container'>


<div class="container">
    <div class="row d-flex-justify-content-center">
        <div class="col-md-6">
            <div class="container">
                <h1 >Sobre nós</h1>
                <br>
                <p>
                    A Aprochegue é uma rede social que foi desenvolvida baseada na ODS 10 da ONU: redução das desigualdades - reduzir as desigualdades dentro dos países e entre eles. Cujo nome representa a cultura nordestina, visto que foi criada em Recife-PE, em dezembro de 2021, onde está estabelecido o maior polo de tecnologia do Brasil. Trazendo em consideração essa bagagem e os fundamentos necessários para a construção deste projeto, o objetivo é aproximar as regiões afastadas dos grandes centros, ou seja, as áreas rurais, e conectá-las à tecnologia. Assim, possibilitando oportunidades de emprego, diminuindo gradativamente as desigualdades existentes dentro do país e, consequentemente, entre eles. 
                </p>
            </div>
        </div>
        <div class="col-md-6 p-5">
            <img src="../../assets/imgs/AprochegueLaranja.png"
                alt="pantera " width=500px height=300px class="rounded-circle" id="teste3">
        </div>


    </div>

</div>

<!-- <div class="card-group container d-flex d-flex-justify-content-center ">
    <div class="card bg-success mr-3 text-white" id="teste3">
        <img src="" class="card-img-top" alt="">
        <div class="card-body">
            <h5 class="card-title">Nossa missão</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
                content. This content is a little bit longer.</p>
            <p class="card-text"><small class="text-muted"><a class="text-white"
                        href="https://www.instagram.com/?hl=pt-br">Cadastre-se</a></small></p>
        </div>
    </div>
    <div class="card bg-primary mr-3 text-white" id="teste3">
        <img src="" class="card-img-top" alt="">
        <div class="card-body">
            <h5 class="card-title">Por que APROCHEGUE ?</h5>
            <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
            <p class="card-text"><small class="text-muted"><a class="text-white"
                        href="https://www.linkedin.com/feed/">Entre em contato!</a></small></p>
        </div>
    </div>
    <div class="card bg-danger text-white" id="teste3">
        <img src="" class="card-img-top" alt="">
        <div class="card-body">
            <h5 class="card-title">Seja um colaborador</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
                content. This card has even longer content than the first to show that equal height action.</p>
            <p class="card-text"><small class="text-muted"><a class="text-white"
                        href="https://www.facebook.com/">Contribuir</a></small></p>
        </div>
    </div>
</div> -->


<div class="container mt-30">


<div class="mt-30">
    <h2 class="mt-30">Sobre a equipe: </h2>

<div class="">
    <h2 class="fs-18 mt-30">Equipe de desenvolvimento: </h2>
</div>



<div class="col-md-12 mt-30">
    <div class="row d-flex align-content-center">

        <div class="col-md-4">
                <div class="my-2 mx-auto p-relative bg-white shadow-1 blue-hover" style="width: 360px; overflow: hidden; border-radius: 1px;">
                    <img src="https://github.com/ad4nv1.png"    
                        class="d-block w-full">
                
                <div class="px-2 py-2">
                <p class="mb-0 small font-weight-medium text-uppercase mb-1 text-muted lts-2px">
                  Adan Vinícius da Silva Leitão
                </p>
                
                <h1 class="ff-serif font-weight-normal text-black card-heading mt-0 mb-1" style="line-height: 1.25;">
                  Desenvolvedor Web Java Júnior
                </h1>
                
                <p class="mb-1">
                  Programador com experiência em C#, .NET, Java, Spring boot, Angular e banco de dados relacional e não relacional &hellip;
                </p>
                
                </div>
                
                <a href="http://www.linkedin.com/in/adan-vinicius" class="text-uppercase d-inline-block font-weight-medium lts-2px ml-2 mb-2 text-center styled-link">
                Saiba mais
                </a>
                
                   
                
                </div>     
    </div>
    <div class="col-md-4">
        <div class="my-2 mx-auto p-relative bg-white shadow-1 blue-hover" style="width: 360px; overflow-x: hidden; border-radius: 1px;">
            <img src="https://github.com/GuilhermeCarluz.png"    
                class="d-block w-full">
        
        <div class="px-2 py-2">
        <p class="mb-0 small font-weight-medium text-uppercase mb-1 text-muted lts-2px">
            Guilherme Carlos da Luz
        </p>
        
        <h1 class="ff-serif font-weight-normal text-black card-heading mt-0 mb-1" style="line-height: 1.25;">
          Desenvolvedor Web Java Júnior
        </h1>
        
        <p class="mb-1">
            Entusiasta pela tecnologia desde pequeno e agora vivendo a realidade do meu sonho como um desenvolvedor. Tenho conhecimento em Java, SpringBoot, MySQL, Angular e BootStrap. &hellip;
        </p>
        
        </div>
        
        <a href="https://www.linkedin.com/in/guilherme-carlos-033819220/" class="text-uppercase d-inline-block font-weight-medium lts-2px ml-2 mb-2 text-center styled-link">
        Saiba mais
        </a>
        
           
        
        </div>     
</div>
<div class="col-md-4">
    <div class="my-2 mx-auto p-relative bg-white shadow-1 blue-hover" style="width: 360px; overflow: hidden; border-radius: 1px;">
        <img src="https://github.com/juliamontenegro.png"    
            class="d-block w-full">
    
    <div class="px-2 py-2">
    <p class="mb-0 small font-weight-medium text-uppercase mb-1 text-muted lts-2px">
        Júlia Regina Montenegro Vanderlei
    </p>
    
    <h1 class="ff-serif font-weight-normal text-black card-heading mt-0 mb-1" style="line-height: 1.25;">
      Desenvolvedora Web Java Júnior
    </h1>
    
    <p class="mb-1">
        Interessada em tudo aquilo que me desafia e mente aberta para os diversos conhecimentos, sou desenvolvedora com habilidades em Java, Spring, MYSQL, Angular e Bootstrap. &hellip;
    </p>
    
    </div>
    
    <a href="https://www.linkedin.com/in/j%C3%BAlia-montenegro-25590a225/" class="text-uppercase d-inline-block font-weight-medium lts-2px ml-2 mb-2 text-center styled-link">
    Saiba mais
    </a>
    
       
    
    </div>     
</div>
</div>
    <div class="row d-flex align-content-center">

        <div class="col-md-4">
                <div class="my-2 mx-auto p-relative bg-white shadow-1 blue-hover" style="width: 360px; overflow: hidden; border-radius: 1px;">
                    <img src="https://github.com/LucasAci.png"    
                        class="d-block w-full">
                
                <div class="px-2 py-2">
                <p class="mb-0 small font-weight-medium text-uppercase mb-1 text-muted lts-2px">
                    Lucas Aci Farias Ribeiro Queiroz
                </p>
                
                <h1 class="ff-serif font-weight-normal text-black card-heading mt-0 mb-1" style="line-height: 1.25;">
                  Desenvolvedor Web Java Júnior
                </h1>
                
                <p class="mb-1">
                    Pós Graduando em Tecnologia Inovação e Inteligência, possuo conhecimento em Java, Python, Machine Learning,  Banco de dados com MySQL, Angular e Bootstrap. &hellip;
                </p>
                
                </div>
                
                <a href="https://www.linkedin.com/in/lucas-aci/" class="text-uppercase d-inline-block font-weight-medium lts-2px ml-2 mb-2 text-center styled-link">
                Saiba mais
                </a>
                
                   
                
                </div>     
    </div>
    <div class="col-md-4">
        <div class="my-2 mx-auto p-relative bg-white shadow-1 blue-hover" style="width: 360px; overflow: hidden; border-radius: 1px;">
            <img src="https://github.com/Padilha272.png"    
                class="d-block w-full">
        
        <div class="px-2 py-2">
        <p class="mb-0 small font-weight-medium text-uppercase mb-1 text-muted lts-2px">
            Matheus de Araujo Padilha    
        </p>
        
        <h1 class="ff-serif font-weight-normal text-black card-heading mt-0 mb-1" style="line-height: 1.25;">
          Desenvolvedor Web Java Júnior
        </h1>
        
        <p class="mb-1">
            experiência em Java, Spring boot,  Mysql,  Html, Css, Javascrypt, Angular e Bootstrap &hellip;
        </p>
        
        </div>
        
        <a href="https://www.linkedin.com/in/matheus-padilha-722134183/" class="text-uppercase d-inline-block font-weight-medium lts-2px ml-2 mb-2 text-center styled-link">
        Saiba mais
        </a>
        
           
        
        </div>     
</div>
<div class="col-md-4">
    <div class="my-2 mx-auto p-relative bg-white shadow-1 blue-hover" style="width: 360px; overflow: hidden; border-radius: 1px;">
        <img src="https://github.com/mayaralm.png"    
            class="d-block w-full">
    
    <div class="px-2 py-2">
    <p class="mb-0 small font-weight-medium text-uppercase mb-1 text-muted lts-2px">
        Maria Mayara Leite de Melo
    </p>
    
    <h1 class="ff-serif font-weight-normal text-black card-heading mt-0 mb-1" style="line-height: 1.25;">
      Desenvolvedor Web Java Júnior
    </h1>
    
    <p class="mb-1">
        Programadora com experiência em Java e python e com muita vontade de aprender &hellip;
    </p>
    
    </div>
    
    <a href="https://www.linkedin.com/in/mayara-leite-b43487218/" class="text-uppercase d-inline-block font-weight-medium lts-2px ml-2 mb-2 text-center styled-link">
    Saiba mais
    </a>
    
       
    
    </div>     
</div>
</div>
</div>



</div>