<nav class="navbar navbar-expand-lg navbar-dark bg-secondary">
    <a class="navbar-brand" routerLink="/testemenu">APROCHEGUE</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                    aria-expanded="false">
                    Menu
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" routerLink="/sobre">Sobre</a>
                    <a class="dropdown-item" href="#">Valores</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Something else here</a>
                </div>
            </li>
        </ul>
    </div>
</nav>

<div class='container'>

    <h1>Sobre nós</h1>

    <br>
    <br>
    <div>
        
        <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Esse iure reiciendis, repellat quasi vel, a sit
            ipsum
            fugiat minus culpa ipsa rem distinctio eius molestias. Minima beatae quisquam facilis distinctio.
        </p>

        <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laboriosam, fugit quis, excepturi qui odio
            reiciendis officiis natus rem illum quos quas debitis, porro modi saepe perspiciatis sed quaerat. Porro,
            sed!
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta, sint facere accusantium nihil quaerat
            adipisci quibusdam deserunt doloribus beatae, asperiores aut animi natus labore inventore sit? Ratione enim
            aliquam voluptatum?
        </p>


        <p>

            Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro laboriosam non molestiae corporis ipsum quas
            ad quos dolorum est nihil voluptates sequi vitae recusandae, eum autem iste nostrum saepe alias. Lorem ipsum
            dolor sit amet consectetur adipisicing elit. Pariatur optio consectetur esse, quaerat dolores at temporibus
            quo voluptas expedita officia voluptatibus excepturi dolor numquam, ad quam eos dicta minus autem. Lorem
            ipsum, dolor sit amet consectetur adipisicing elit. Voluptates est quam earum quis saepe ratione amet
            dolores aperiam, nisi ipsa. Excepturi, rem totam labore amet magnam similique est doloribus minus!
        </p>

        <p> 
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem, quia aliquam? Eos quia itaque ducimus, ex
            deserunt nam non tenetur molestias et esse voluptatem laudantium omnis assumenda ipsa voluptatum impedit.
        </p>

    </div>


</div>