<!-- <div class="container mb-5 mt-5">

    <div class="row">
      <div class="col-md-12">
        <h1 class="text-center text-sencondary">Atualizar meu usuário</h1>
      </div>
    </div>
  
    <div class="row d-flex justify-content-center">
      <div class="col-md-10">
  
        <div class="form-group">
          <label for="nome">Nome</label>
          <input [(ngModel)]='usuario.nome' class="form-control" type="text" name="nome" id="nome" placeholder="Seu nome"  >
        </div>
  
        <div class="form-group">
          <label for="usuario">Usuário</label>
          <input [(ngModel)]='usuario.email' class="form-control" type="text" name="usuario" id="usuario" placeholder="Seu usuário">
        </div>
  
        <div class="form-group">
          <label for="foto">Link da Foto</label>
          <input [(ngModel)]='usuario.foto' class="form-control" type="text" name="foto" id="foto" placeholder="Link da sua foto">
        </div>
  
        <div class="form-group">
          <label for="senha">Senha</label>
          <input (input)='confirmSenha($event)' class="form-control" type="password" name="senha" id="senha" placeholder="Sua senha">
        </div>
  
        <div class="form-group">
          <label for="confirmSenha">Confirmar Senha</label>
          <input [(ngModel)]='usuario.senha' class="form-control" type="password" name="confirmSenha" id="confirmSenha"
            placeholder="Confirme sua senha">
        </div>
  
      <div class="form-group">
          <label for="tipo">Tipo de Usuário</label>
          <select class="form-control" name="tipo" id="tipo" (change)='tipoUser($event)'>
            <option>Selecione um tipo de usuário:</option>
            <option value="normal">Normal</option>
            <option value="adm">Administrador</option>
          </select>
        </div> 
  
         <div class="d-flex justify-content-center">
          <button type="submit" class="btn btn-danger mr-4" routerLink='/inicio'>Cancelar</button>
          <button type="submit" class="btn btn-success" (click)='atualizar()' >Atualizar</button>
        </div>
  
      </div>
    </div>
  
  </div>-->




<body>


  <div class="wrapper fadeInDown p2">


    <link href="http://fonts.cdnfonts.com/css/gotham" rel="stylesheet">

    <style>
      @import url('http://fonts.cdnfonts.com/css/gotham');
    </style>



    <link href="http://fonts.cdnfonts.com/css/xilosa" rel="stylesheet">
    <style>
      @import url('http://fonts.cdnfonts.com/css/xilosa');
    </style>
    <div id="formContent">
      <p class="active p1 "> Atualizar meu usuário</p>

      

      <form>
        <div class="row d-flex justify-content-center">
          <div class="col-md-10">
            <div class="fadeIn first mb-1">
              <img src="../../assets/imgs/LOGO01-03.png" alt="logo" width="90px" height="90px">
            </div>
            <div>
              
              <input [(ngModel)]='usuario.nome' class="form-control" type="text" name="Seu nome" id="usuario"
                placeholder="Seu nome">
            </div>
            <div>
              <label for="usuario">Usuário</label>
              <input [(ngModel)]='usuario.email' class="form-control" type="text" name="usuario" id="usuario"
                placeholder="Usuario">
            </div>
            <div>
              <label for="foto">Link da Foto</label>
              <input [(ngModel)]='usuario.foto' class="form-control" type="text" name="imagem" id="imagem"
                placeholder="Link da foto">
            </div>
            <div>
              <label for="senha">Senha</label>
              <input (input)='confirmSenha($event)' class="form-control" type="password" name="senha" id="senha"
                placeholder="Senha">
            </div>
            <div>
              <label for="confirmSenha">Confirmar Senha</label>
              <input [(ngModel)]='usuario.senha' class="form-control mb-3" type="password" name="confirmarsenha"
                id="confirmarsenha" placeholder="confirmar senha">
            </div>
            <div class="mb-2">
              <button type="submit" class="btn btn-danger mr-4" routerLink='/inicio'>Cancelar</button>
              <button type="submit" class="btn btn-success" (click)='atualizar()'>Atualizar</button>
            </div>

          </div>

     