<!-- <nav class="navbar navbar-expand-lg navbar-light orange">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#conteudoNavbarSuportado" aria-controls="conteudoNavbarSuportado" aria-expanded="false" aria-label="Alterna navegação">
      <span class="navbar-toggler-icon"></span>

    </button>
    <div class="collapse navbar-collapse" id="conteudoNavbarSuportado">
        <ul class="navbar-nav mr-auto d-flex align-items-center">
          <li class="nav-item active">
            <img src="{{foto}}" alt="imagem do user" width="50px" height="50px" class="img-fluid rounded-circle">
          </li>
          <li class="nav-item pl-3">
            <p class="m-0 font-weight-bold text-white .fs-16">Olá, {{nome}}</p>
          </li>
          <li class="nav-item pl-3">
            <a [routerLink]="['/user-edit', id]">
              <p class="text-white fs-16 m-0"><i class="fa fa-pencil-square-o " aria-hidden="true"></i></p>
            </a>
          </li>
          
          <li class="nav-item active">
            <a class="nav-link" href="#todasPostagens">Todas as Postagens <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="../inicio/inicio.component.html/#minhasPostagens">Minhas Postagens <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="../inicio/inicio.component.html/#postagemTema">Postagens por tema <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-expanded="false">
              Dropdown
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </li>
      </ul>
      <ul class="navbar-nav ml-auto d-flex align-items-center">
        <li class="nav-item pl-3">
            <a (click)='sair()' class="m-0 font-weight-bold text-white .fs-16">Sair <i class="fa fa-sign-out" aria-hidden="true"></i></a>
          </li>

      </ul>

      <ul *ngIf= "this.tipo == 'Adm'" class="navbar-nav ml-auto d-flex align-items-center">
        <li class="nav-item pl-3">
            <a routerLink='/user-delete' class="m-0 font-weight-bold text-white .fs-16">ADMIN<i class="fa fa-sign-out" aria-hidden="true"></i></a>
          </li>

      </ul>
    </div>
  </nav> -->
