
<div class="container mt-5 mb-5 ">
    <div class="row  bg-secondary">
        <div class="col-md-12">
            <h1 class="text-center text-secondary">Atualizar Tema</h1>

<!-- <div class="fundo w-100">

    <link href="http://fonts.cdnfonts.com/css/gotham" rel="stylesheet">
                    
    <style>
        @import url('http://fonts.cdnfonts.com/css/gotham');
</style>

    <div class="row wrapper fadeInDown p2">
        <h2 class="active p1 "> Atualizar Tema </h2>
          
        <div class="fadeIn first mb-3 d-flex justify-content-center">
          <img src="../../assets/imgs/LOGO01-03.png" alt="logo" width="100px" height="100px">

        </div>
    </div>

    
        <div class="row d-flex justify-content-center">
        <div class="form-group mb-3">
            <div>
                <div class="container d-flex justify-content-center">
                
                <input [(ngModel)]='tema.descricao' type="text" class="form-control mb-3" id="descricao">
                </div>
                <div class="container d-flex justify-content-center">
                <button class="btn btn-danger mr-4" routerLink='/tema'>Cancelar</button>
                <button class="btn btn-success " (click)='atualizar()'>Atualizar</button>
                </div>
            </div>
            
            

            
      </div>


        
    </div>

   
  

   

    
</div> -->















    

    <div class="wrapper fadeInDown p2">
 

        <link href="http://fonts.cdnfonts.com/css/gotham" rel="stylesheet">
                    
        <style>
            @import url('http://fonts.cdnfonts.com/css/gotham');
    </style>
    
    
    
        <link href="http://fonts.cdnfonts.com/css/xilosa" rel="stylesheet">
        <style>
            @import url('http://fonts.cdnfonts.com/css/xilosa');
            </style>
        <div id="formContent">
          <!-- Tabs Titles -->
          <h2 class="active p1 ">Atualizar</h2>
          <!-- <h2 class="inactive underlineHover"> <a href=""></a>  Inscreva-se </h2> -->
      
          <!-- Icon -->
          <div class="fadeIn first mb-3">
            <img src="../../assets/imgs/LOGO01-03.png" alt="logo" width="100px" height="100px">
          </div>
      
          <!-- Login Form -->
          
            <input [(ngModel)]='tema.descricao' type="text" class="form-control mb-3" id="descricao">
                  
           

      
          <!-- Remind Passowrd -->
          <div id="formFooter">
            <button class="btn btn-danger mr-4" routerLink='/tema'>Cancelar</button>
                <button class="btn btn-success " (click)='atualizar()'>Atualizar</button>
          </div>
      
        </div>
    
        
      </div>



































<!-- 
<body class="fundo w-100" >
    

    <div class="wrapper fadeInDown p2">
 

        <link href="http://fonts.cdnfonts.com/css/gotham" rel="stylesheet">
                    
        <style>
            @import url('http://fonts.cdnfonts.com/css/gotham');
    </style>
    
    
    
        <link href="http://fonts.cdnfonts.com/css/xilosa" rel="stylesheet">
        <style>
            @import url('http://fonts.cdnfonts.com/css/xilosa');
            </style>
        <div id="formContent">
          
          <h2 class="active p1 ">  </h2>
          
          <div class="fadeIn first mb-3">
            <img src="../../assets/imgs/LOGO01-03.png" alt="logo" width="100px" height="100px">
          </div>
      
         
          <form>
            <label for="descricao">Descrição</label>
            <input [(ngModel)]='tema.descricao' type="text" class="form-control" id="descricao">
            <button class="btn btn-danger mr-4" routerLink='/tema'>Cancelar</button>
            <button class="btn btn-success" (click)='atualizar()'>Atualizar</button>
            
          </form>
      
         
          <div id="formFooter">
            <a class="underlineHover" routerLink='/inicio'>Início</a>
          </div>
      
        </div>
    
        
      </div>


</body> -->
