#img-bg {
    background-image: url("https://yt3.ggpht.com/ytc/AKedOLRjvByRIGcZ5kubNLZZyGkJKJM_Euv8iv4TdO1j=s900-c-k-c0x00ffffff-no-rj");

    min-height: 695px;
    background-repeat: no-repeat;
    background-size: cover;
}