#img-bg {
    /* background-image: url("https://yt3.ggpht.com/ytc/AKedOLRjvByRIGcZ5kubNLZZyGkJKJM_Euv8iv4TdO1j=s900-c-k-c0x00ffffff-no-rj"); */
    background-image: url("../../assets/imgs/AprochegueLaranja.png");
    min-height: 695px;
    background-repeat: no-repeat;
    background-size: cover;
}

#teste3
{position:relative;top:0;padding:5px;background-color:black;
    transition: all .2s ease-in-out}
#teste3:hover{top:-4px;box-shadow:0 4px 3px #999}