/* You can add global styles to this file, and also import other style files */

html{
    scroll-behavior: smooth;
}

.fs-50{
    font-size: 54pt;
    color: #30384c;
}
.fs-18{
    font-size: 18pt;
    color: #30384c;
}

.orange{
    background-color:orangered;
}


.text-orange{
    text-decoration-color: orangered;
}